
form > label {
    display: block;
    float: left;
    clear: left;
    width: 150px;
    font-weight: bold
}

#account_email, #account_password {
    display: block;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 150px
}

#contact_message {
    height: 75px
}
