@section css{
    <link href="~/css/HomeIndex.css" rel="stylesheet" type="text/css"/>
}

<div class="row homelogodiv">
    <div class="col-md-2 logocombo1">
        <img id="sitelogo" src="~/images/siteimages/Logo2.png" alt="Site Logo" width="150" height="155"/>
    </div>
    <div class="col-md-10 logocombo2">
        <img id="sitename" src="~/images/siteimages/LogoName.png" alt="Logo Name" width="750" height="50"/>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<p>
	Nerd’s Treasure Chest is an online ecommerce website operated and 
	developed by fellow computer enthusiasts. Our companies goal is to provide enthusiasts
	with a one stop shop, for all their hardware needs. In addition, give them the opportunity to buy
	products at prices they can write home about. Our website provides a large selection of parts based on the 
	customer’s price point, needs, and their willingness to get the best possible experience out of their system. 
	Nerd’s Treasure Chest also provides bundles for the customers that aren’t familiar with the building process, 
	which provide an overall well-rounded system that customers can be
	guaranteed to fulfil all their present and future needs. 
</p>

<h2> Computer Parts </h2>

<p>
	Nerd’s Treasure Chest offers the largest selection of computer parts found on any other website.
	Our database contains all the latest and greatest components that the market has to offer and at the lowest
	prices that are hard to pass up. The Nerd’s Treasure Chest database also gives you the ability to filter out parts based on their
	platform, generation, clock speeds, and other specific features that you may be looking for. In addition, we provide professionally
	written descriptions for our products that are sure to answer all your questions on the products. However, feel free to contact us on
	our Contact Us page for any clarification you may need on products.
</p>

<h2>Accessories </h2>

<p>
	Nerd’s Treasure Chest offers one of the best selection of
	accessories for your new system, if not the best. We carry a wide selection of brands, models, and
	price points that are sure to fit into anyone’s budget. Our
	company also makes sure to only advertise the most reputable of products,
	so our customers can feel confident that they are getting the best quality product for their needs.

</p>

<h2> Bundles </h2>

<p>
	Nerd’s Treasure Chest realizes that some of our
	customers aren’t very familiar with the pc building experience,
	so we provide these customers a bundles category. This bundles category
	has a few different packages that allow customers to feel confident about
	their choice, without the need of extensive research to educate themselves on
	all the potential products that may fulfill their needs. In addition, these bundle
	deals are split into different categories: Beginner, Mid-Level, and Professional; all
	of which contain a great assortment of parts that will fulfill your needs.

</p>